<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Edit page</title>
  <link rel="stylesheet" href="/style.css">
</head>

<body>
  <h1>Update your message</h1>
  <div>
    <h2>Post id: <%=newId.id%> </h2>
    <h2>Post username: <%= newId.username %> </h2>
    <form method="post" action="/posts/<%=newId.id%>?_method=PATCH">
      <textarea> <%= newId.content %> </textarea>
      <br>
      <button class="btn">Submit</button>
    </form>
  </div>
</body>

</html>