<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Post in details</title>
  <link rel="stylesheet" href="/style.css">
</head> 

<body>
  <h2>Post details</h2>
  <p>Post id : <%= newPost.id %> </p>
  <div>
    <h2>@ <%= newPost.username %> </h2>
    <h4> <%= newPost.content %> </h4>
    <br>
  </div>
</body>

</html>